@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@import url("reset.css");
@import url("color.css");
@import url("body.css");
@import url("header.css");
@import url("logo.css");
@import url("nav.css");
@import url("main.css");
@import url("footer.css");

/* page gestion_sechoir */
@import url("gestion-overlay.css");
@import url("gestion-overlay-content.css");

@import url("export_main.css");

.btn-block {
	display: flex;
	flex-direction: column;
	width: 200px; /* ou col-md-4 si bootstrap */
	gap: 6px;
}

.btn-row {
	display: flex;
	gap: 8px;
}

.btn-row button {
	flex: 1;
}

.lot-warning {
	font-size: 12px;
	color: red;
	margin: 0;
}